<!DOCTYPE html>
<html>
<head>
    <title>Teacher Dashboard</title>
    <!-- Include Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Welcome, Teacher {{ teacher_name }}</h2>
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ url_for('add_student', teacher_id=teacher_id) }}" class="btn btn-primary">Add Student</a></li>
            <li class="list-group-item"><a href="{{ url_for('update_student', teacher_id=teacher_id) }}" class="btn btn-success">Update Student</a></li>
            <li class="list-group-item"><a href="{{ url_for('delete_student', teacher_id=teacher_id) }}" class="btn btn-danger">Delete Student</a></li>
            <li class="list-group-item"><a href="{{ url_for('show_students', teacher_id=teacher_id) }}" class="btn btn-info">Show Students</a></li>
        </ul>
        <br>
        <a href="/" class="btn btn-secondary">Logout</a>
    </div>
    <!-- Include Bootstrap JS scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
